img{
    width: 140px;
    height: 150px;
    max-width: 70%;
    margin-left: 650px;
    
}
   
h3{
    
    COLOR:rgb(9, 9, 243);
    text-align: center;
}
h1{

    color:red;
    text-align: center;
}
h4{
    color: greenyellow;
}
h5{
    color:hotpink;
    
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  